{% extends 'blog_manager/utils/base.html' %}
{% load static %}

{% block content %}
{% include 'main/utils/navbar.html' %}
<main id="pg-noticia" class="container mt-5 d-flex flex-column gap-4">
    <div>
        <h1>{{ noticia.title }}</h1>
        <p>{{ noticia.caption }}</p>
    </div>

    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
            {% for image in noticia.images.all %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                <img src="{{ image.image.url }}" class="d-block w-50" alt="{{ noticia.title }}">
            </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div>
        <div class="d-flex flex-row justify-content-between">
            <p><strong>Publicado por:</strong> {{ noticia.autor.username }}</p>
            <p><strong>Fecha:</strong> {{ noticia.publication_date }}</p>
        </div>
        <p><strong>Categoría:</strong> {{ noticia.categoria.name }}</p>
        <p>{{ noticia.body }}</p>
    </div>
    

</main>
<div class="">

    
    
    

    
    

    {% if is_authenticated %}
    <!-- Aquí puedes agregar opciones adicionales para usuarios autenticados si es necesario -->
    {% endif %}
</div>
{% endblock %}